<html>
  <head>
    <title>renderer window</title>
    <link rel="stylesheet"  href="../styles/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <link rel="stylesheet"  href="../styles/rendererjs.css">
  </head>
  <body>
    <div class="view-renderer-titlebar ui-dialog-titlebar ui-widget-header ui-corner-all">
      <span class="view-renderer-titlebar-title"></span>
      <div class="view-renderer-titlebar-buttonpane">
        <button type="button" class="view-renderer-titlebar-buttonpane-close ui-dialog-titlebar-close" role="button" title="Close">
          <span class="ui-icon-closethick"></span>
        </button>
        <button type="button" class="view-renderer-titlebar-buttonpane-maximize ui-dialog-titlebar-maximize" role="button" title="Maximize">
          <span class="ui-icon-extlink"></span>
        </button>
        <button type="button" class="view-renderer-titlebar-buttonpane-pin ui-dialog-titlebar-pin" role="button" title="Not selected">
          <span class="ui-icon-pin-w"></span>
        </button>
        <button type="button" class="view-renderer-titlebar-buttonpane-info ui-dialog-titlebar-info" role="button" title="Volume info">
          <span class="ui-icon-info"></span>
        </button>
      </div>
    </div>

    <div class="view-renderer-content">
      <div class="view-renderer-info view-renderer-info-topleft"></div>
      <div class="view-renderer-info view-renderer-info-topright"></div>
      <div class="view-renderer-info view-renderer-info-bottomright"></div>
      <div class="view-renderer-info view-renderer-info-bottomleft"></div>
    </div>
  </body>
</html>
